
<form [formGroup]="customerForm" (ngSubmit)="updateCustomer()" *ngIf="editIndex !== null" class="loan-form">
    <label>Full Name:</label>
    <input formControlName="fullName" type="text" required>
    
    <label>Email:</label>
    <input formControlName="email" type="email" required>
    
    <label>Phone Number:</label>
    <input formControlName="phoneNumber" type="number" required>


   
    <label>Date of Registration:</label>
    <input formControlName="registrationDate"type="date" required>
     
        
    <label>Customer Type:</label>
    <select formControlName="customerType">
      <option value="individual">Individual</option>
      <option value="business">Business</option>
      <!-- <option value="home">Home</option> -->
    </select>  

    <label for="profilePicture">Profile Picture:</label>
    <input type="file" formControlName="profilePicture" (change)="onFileSelected($event)" accept="image/*" required />
    <!-- <img *ngIf="base64Image" [src]="base64Image" alt="Profile Picture"> -->
    

    <!-- <button (click)="onSubmit()" class="submit-button"  >Submit</button> -->
    
   <button type="submit" class="submit-button">Update Customers</button>
    <!-- [disabled]="!employeeForm.valid"  -->
  </form>
 
  <!-- [disabled]="loanForm.invalid"> -->
  
  <table border="1" class="loan-table">
    <thead>
      <tr>
        <th>Full Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <!-- <th>Tenure (Months)</th>
        <th>Loan Type</th> -->
        <th>Date of Registration </th>
        <th>Customer Type</th>
        <th>Profile Picture</th>
        <th>Actions</th>
  
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customer; let i = index">

        <td>{{ customer.fullName }}</td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.phoneNumber }}</td>
        <!-- <td>{{ Customer.tenure }}</td>-->
  
        <td>{{ customer.registrationDate }}</td>
         <td>{{ customer.customerType }}</td> 
        <td>
          <img *ngIf="base64Image" [src]="base64Image" alt="Profile" class="thumbnail">

        </td>
      
        <td>
          <button (click)="viewCustomer(i)">View</button>

           <button (click)="editCustomer(i)" class="edit-button">Edit</button>
          <button (click)="deleteCustomer(i)" class="delete-button">Delete</button>

  
        </td>
      <!-- <tr *ngIf="loans.length === 0">
        <td colspan="6">No loans found.</td> -->
      </tr>
    </tbody>
  </table>
  