  
<h2>Manage Transaction</h2>

  <form [formGroup]="transactionForm" (ngSubmit)="updateTransaction()" *ngIf="editIndex !== null" class="loan-form">

  <label for="accountNumber">Account Number:</label>
  <input type="text" id="accountNumber" formControlName="accountNumber" required>

  <label for="type">Transaction Type:</label>
  <select id="type" formControlName="type">
    <option value="Deposit">Deposit</option>
    <option value="Withdrawal">Withdrawal</option>
    <option value="Transfer">Transfer</option>
    <option value="Loan Payment">Loan Payment</option>
  </select>

  <label for="amount">Amount:</label>
  <input type="number" id="amount"formControlName="amount" required>

  <label for="amount">Date of Transaction:</label>
  <input type="date" id="date" formControlName="date" required>
 
  <label>Status:</label>
  <select formControlName="status">
    <option value="pending">Pending</option>
    <option value="approved">Approved</option>
    <option value="rejected">Rejected</option>

  </select>
  <button type="submit" class="submit-button">Update Transactions</button>
  <!-- <button type="submit">Submit Transaction</button> -->
</form>


<!-- 
  
<form [formGroup]="customerForm" (ngSubmit)="updateCustomer()" *ngIf="editIndex !== null" class="loan-form">
  <label>Full Name:</label>
  <input formControlName="fullName" type="text" required>
  
  <label>Email:</label>
  <input formControlName="email" type="email" required>
  
  <label>Phone Number:</label>
  <input formControlName="phoneNumber" type="number" required>


 
  <label>Date of Registration:</label>
  <input formControlName="registrationDate"type="date" required>
   
      
  <label>Customer Type:</label>
  <select formControlName="customerType">
    <option value="individual">Individual</option>
    <option value="business">Business</option> -->
    <!-- <option value="home">Home</option> -->
  <!-- </select>   -->
<!-- 
  <label for="profilePicture">Profile Picture:</label>
  <input type="file" formControlName="profilePicture" (change)="onFileSelected($event)" accept="image/*" required /> -->
  <!-- <img *ngIf="base64Image" [src]="base64Image" alt="Profile Picture"> -->
  

  <!-- <button (click)="onSubmit()" class="submit-button"  >Submit</button> -->
  
 <!-- <button type="submit" class="submit-button">Update Customers</button> -->
  <!-- [disabled]="!employeeForm.valid"  -->
<!-- </form> -->

<!-- [disabled]="loanForm.invalid"> -->

<table border="1" class="loan-table">
  <thead>
    <tr>
      <th>Account Number</th>
      <th>Transaction Type</th>
      <th>Amount</th>
      <!-- <th>Tenure (Months)</th>
      <th>Loan Type</th> -->
      <th>Date of Transaction</th>
      <th>Status</th>
      <!-- <th>Profile Picture</th>
      <th>Actions</th> -->

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of transaction; let i = index">

      <td>{{ transaction.accountNumber }}</td>
      <td>{{ transaction.type }}</td>
      <td>{{ transaction.amount }}</td>
      <!-- <td>{{ Customer.tenure }}</td>-->

      <td>{{ transaction.date }}</td>
       <td>{{ transaction.status }}</td> 
      <!-- <td>
        <img *ngIf="base64Image" [src]="base64Image" alt="Profile" class="thumbnail">

      </td> -->
    
      <td>
        <button (click)="viewTransaction(i)">View</button>

         <button (click)="editTransaction(i)" class="edit-button">Edit</button>
        <button (click)="deleteTransaction(i)" class="delete-button">Delete</button>


      </td>
    <!-- <tr *ngIf="loans.length === 0">
      <td colspan="6">No loans found.</td> -->
    </tr>
  </tbody>
</table>

